<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Another Crazy Test</title>
</head>

<body>


    <h1>Hello mutha fuckasss</h1>

    <div>
        <input type="number" name="n1" id="n1" placeholder="Número 1">
        <input type="number" name="n2" id="n2" placeholder="Número 2">
        <input type="submit" value="Somar" onclick="somar()">
    </div>
    <div id="areaResultado">
        <div>
            <p>Total:</p>
        </div>
        <div >
            <p id="resultado"></p>
        </div>
    </div>



    <script src="somar.js"></script>

</body>

</html>